In [1]:
from requests import get
from bs4 import BeautifulSoup as bs

In [2]:
url = 'https://www.imdb.com/search/title/?release_date=2019&sort=num_votes,desc&page=1'
response = get(url)

In [3]:
html_soup =  bs(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [4]:
movie_arr = html_soup.find_all('div', class_ = 'lister-item mode-advanced')
print(type(movie_arr))
len(movie_arr)

<class 'bs4.element.ResultSet'>

50

total 50 div classes

In [5]:
names = []
years = []
imdb_ratings= []
metascores = []
votes =[]

for item in movie_arr:
    if item.find('div', class_ = 'ratings-metascore') is not None:
# Name of movie
        name = item.h3.a.text
        names.append(name)
# Year of the movie
        yr = item.h3.find('span', class_ = 'lister-item-year').text
        years.append(yr)
# IMDB rating
        imdb = float(item.strong.text)
        imdb_ratings.append(imdb)
# Metascore
        ms = item.find('span',  class_ = 'metascore').text
        metascores.append(int(ms))
# Number of votes
        vote = item.find('span', attrs = {'name' : 'nv'})['data-value']
        votes.append(int(vote))

Saving all in a data frame

In [6]:
import pandas as pd
imdb_ = pd.DataFrame({'movie' : names,
                      'year' : years,
                      'rating' : imdb_ratings,
                      'metascore' : metascores,
                      'votes' : votes
                     })
imdb_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      40 non-null     object
 1   year       40 non-null     object
 2   rating     40 non-null     float64
 3   metascore  40 non-null     int64
 4   votes      40 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.7+ KB

In [7]:
imdb_.head()

                              movie    year  rating  metascore   votes
0                             Joker  (2019)     8.5         59  854525
1                 Avengers: Endgame  (2019)     8.4         78  754640
2  Once Upon a Time... in Hollywood  (2019)     7.6         83  506955
3                      Gisaengchung  (2019)     8.6         96  470519
4                    Captain Marvel  (2019)     6.9         64  422624

In [8]:
imdb_['year'].unique()

array(['(2019)', '(II) (2019)', '(I) (2019)'], dtype=object)

In [9]:
imdb_.loc[:,'year'] = imdb_['year'].str[-5:-1].astype(int)

In [10]:
imdb_['year'].head()

0    2019
1    2019
2    2019
3    2019
4    2019
Name: year, dtype: int32

In [11]:
imdb_.describe()

         year     rating  metascore          votes
count    40.0  40.000000  40.000000      40.000000
mean   2019.0   7.227500  67.350000  250532.375000
std       0.0   0.713959  15.433148  162075.917944
min    2019.0   5.800000  41.000000  121617.000000
25%    2019.0   6.700000  54.750000  145771.750000
50%    2019.0   7.200000  66.500000  198431.500000
75%    2019.0   7.825000  80.250000  269633.000000
max    2019.0   8.600000  96.000000  854525.000000

In [12]:
imdb_.to_csv('imdb_movie_ratings.csv')

In [13]:
df = pd.read_csv('imdb_movie_ratings.csv')