In [1]:
from requests import get
from bs4 import BeautifulSoup as bs

### Generating only for first 5 pages and for years 2010-2020

In [2]:
pages = [str(i) for i in range(1,6)]
years_ = [str(i) for i in range(2010,2021)]

### This will take few minutes to execute as it is scraping almost 55 pages

In [3]:
names = []
years = []
imdb_ratings= []
metascores = []
votes =[]

# For every Year from 2010-2020
for year_ in years_:
    # For every page from 1-5
    for page in pages:
        # Get Request
        response = get('https://www.imdb.com/search/title/?release_date='+year_+
                       '&sort=num_votes,desc&page='+page)
        pageHTML_soup = bs(response.text, 'html.parser')
        # storing 50 movies info on current page
        movie_arr = pageHTML_soup.find_all('div', class_ = 'lister-item mode-advanced')
        
        # For every movie in stored movies
        for mov in movie_arr:
            # If the movie has a Metascore, then:
            if mov.find('div', class_ = 'ratings-metascore') is not None:
        # Name of movie
                name = mov.h3.a.text
                names.append(name)
        # Year of the movie
                yr = mov.h3.find('span', class_ = 'lister-item-year').text
                years.append(yr)
        # IMDB rating
                imdb = float(mov.strong.text)
                imdb_ratings.append(imdb)
        # Metascore
                ms = mov.find('span',  class_ = 'metascore').text
                metascores.append(int(ms))
        # Number of votes
                vote = mov.find('span', attrs = {'name' : 'nv'})['data-value']
                votes.append(int(vote))

In [4]:
import pandas as pd

#storing the information as a DataFrame
imdb_ = pd.DataFrame({'movie' : names,
                      'year' : years,
                      'rating' : imdb_ratings,
                      'metascore' : metascores,
                      'votes' : votes
                     })
imdb_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2365 entries, 0 to 2364
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movie      2365 non-null   object
 1   year       2365 non-null   object
 2   rating     2365 non-null   float64
 3   metascore  2365 non-null   int64
 4   votes      2365 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 92.5+ KB

In [5]:
imdb_.head()

            movie    year  rating  metascore    votes
0       Inception  (2010)     8.8         74  2003125
1  Shutter Island  (2010)     8.2         63  1096120
2     Toy Story 3  (2010)     8.3         92   739785
3      Iron Man 2  (2010)     7.0         57   706331
4      Black Swan  (2010)     8.0         79   686201

In [6]:
imdb_['year'].unique()

array(['(2010)', '(I) (2010)', '(2011)', '(I) (2011)', '(2012)',
       '(I) (2012)', '(2013)', '(I) (2013)', '(2014)', '(I) (2014)',
       '(II) (2014)', '(2015)', '(I) (2015)', '(II) (2015)', '(2016)',
       '(II) (2016)', '(IX) (2016)', '(I) (2016)', '(2017)', '(I) (2017)',
       '(2018)', '(I) (2018)', '(III) (2018)', '(2019)', '(II) (2019)',
       '(I) (2019)', '(2020)', '(I) (2020)', '(II) (2020)'], dtype=object)

In [7]:
imdb_.loc[:,'year'] = imdb_['year'].str[-5:-1].astype(int)

In [8]:
imdb_['year'].head()

0    2010
1    2010
2    2010
3    2010
4    2010
Name: year, dtype: int32

In [9]:
imdb_.describe()

              year       rating    metascore         votes
count  2365.000000  2365.000000  2365.000000  2.365000e+03
mean   2014.725159     7.094292    64.651163  3.322536e+05
std       3.054175     0.735944    15.481379  2.224823e+05
min    2010.000000     4.100000    22.000000  2.140000e+04
25%    2012.000000     6.600000    53.000000  1.933540e+05
50%    2015.000000     7.100000    65.000000  2.665150e+05
75%    2017.000000     7.600000    76.000000  4.183940e+05
max    2020.000000     8.800000   100.000000  2.003125e+06

In [10]:
imdb_.to_csv('imdb_movie_ratings_mpages.csv')